@{
    ViewData["Title"] = "Home Page";
}

    <a asp-controller="Account" asp-action="Login">Вход</a><br/>
<a asp-controller="Account" asp-action="Register">Регистрация</a><br/>
    <a>Дни без краша проекта: @ViewBag.Err</a>
